= form_for @ad, html: { :multipart => true } do |f|
	= f.label :title
	= f.text_field :title
	%br
	%br
	= f.label :price
	= f.number_field :price
	%br
	%br
	= f.label :local
	= f.text_field :local
	%br
	%br
	= f.label :description
	%br
	= f.text_area :description
	%br
	%br
	= f.label "Categories"
	%br
	= f.collection_check_boxes :category_ids, Category.all, :id, :name
	%br
	%br
	= f.label "User"
	%br
	= f.select :user_id, User.all.collect {|t| [t.name, t.id] }
	%br 
	%br

	= f.fields_for :photos do |builder|
		= image_tag(builder.object.picture.url(:thumb))
		= builder.file_field :picture
		%br
	= f.submit
	