%h2 Index
-@ads.each do |ad|
	%table
		%tr
			%td= link_to "Edit Ad", edit_ad_path(id: ad.id)
			%td=ad.title
			%td=ad.price
			- ad.photos.each do |p|
				%td= image_tag p.picture.url(:small)
= link_to "New Ad", new_ad_path