<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Perdeu sua senha? Vamos gerar uma nova pra você!<br>
    </p>
    <p>
      Sua nova senha é <%= @password %>
    </p>
    <p>Obrigado, JáVendi.</p>
  </body>
</html>